@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "AlanSans";
  src: url("/public/fonts/AlanSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-alansans: "AlanSans", sans-serif;
}

@layer base {
  body * {
    @apply font-alansans;
  }
}
